In [6]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [7]:
raw_data = pd.read_csv(r'C:\Users\hpups\1574412946_lesson8\Lesson 8\Advertising_Budget_and_Sales\Advertising Budget and Sales.csv', index_col=0)

In [8]:
raw_data.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [25]:
raw_data.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

In [32]:
X_feature = raw_data.iloc[:,:3]

In [33]:
X_feature.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1             230.1                 37.8                     69.2
2              44.5                 39.3                     45.1
3              17.2                 45.9                     69.3
4             151.5                 41.3                     58.5
5             180.8                 10.8                     58.4

In [34]:
y = raw_data.iloc[:,3]

In [35]:
y

1      22.1
2      10.4
3       9.3
4      18.5
5      12.9
       ...
196     7.6
197     9.7
198    12.8
199    25.5
200    13.4
Name: Sales ($), Length: 200, dtype: float64

In [36]:
y.shape

(200,)

In [38]:
X_feature

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1               230.1                 37.8                     69.2
2                44.5                 39.3                     45.1
3                17.2                 45.9                     69.3
4               151.5                 41.3                     58.5
5               180.8                 10.8                     58.4
..                ...                  ...                      ...
196              38.2                  3.7                     13.8
197              94.2                  4.9                      8.1
198             177.0                  9.3                      6.4
199             283.6                 42.0                     66.2
200             232.1                  8.6                      8.7

[200 rows x 3 columns]

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_feature, y)

In [40]:
print(X_train.shape, X_test.shape)

(150, 3) (50, 3)

In [41]:
print(Y_train.shape, Y_test.shape)

(150,) (50,)

In [42]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()

In [43]:
linreg.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [48]:
print("The intercept of the model is %.2f "%linreg.intercept_)

The intercept of the model is 2.58

In [51]:
print("The coefficients of the model is", linreg.coef_)

The coefficients of the model is [ 0.04652194  0.19496567 -0.00266531]

In [52]:
y_pred = linreg.predict(X_test)
y_pred

array([ 9.27147362,  4.11285574, 15.14670839,  8.83246223, 14.1780354 ,
        9.83395136, 11.9590761 ,  6.28326798,  3.19592097, 21.14918266,
       13.15958104,  7.87206205,  5.39854675, 17.23350481,  4.09204207,
        6.53926924, 18.28831665, 18.95327557, 14.03818328, 11.77236057,
       15.56141788,  5.80524045, 15.24718538, 16.87422654, 13.55117655,
       10.205944  , 11.64467137, 12.56281527, 21.95336962, 14.04881769,
        9.95101198,  8.46254191, 10.38835713, 14.25222223, 18.51555212,
       11.85705166, 13.72155841,  7.36205903, 20.46669089,  7.11538636,
       10.35160271,  7.57415014,  9.45020446,  8.26498269, 19.07865257,
       23.32611006, 16.31550205, 11.4606076 , 24.16471965, 15.29154818])

In [53]:
from sklearn import metrics

In [55]:
print(np.sqrt(metrics.mean_squared_error(y_pred,Y_test)))

1.4925117133070898